Systems Analyst Job Summary
Systems Analysts integrate the information of existing business systems into information technology (IT) systems in order to better the workflow of a company and improve its overall communication and work processes. A Systems Analyst must work with management to determine the best course of action for their IT systems.

Systems Analysts can improve upon already existing IT systems or be responsible for designing and creating new systems according to an organization’s needs. They must install, test, and maintain these systems and ensure they are kept up to date. Because technology changes so rapidly it is imperative that Systems Analysts are informed on and can implement the latest technological trends. Strong business acuity and being well versed in computer programing languages and systems is a must.

Systems Analyst Duties and Responsibilities
Discuss workflow processes and procedures with upper management
Determine where improvements in the workflow and computer systems can be made
Develop and implement business and computer systems solutions
Work with business management to decide the role and purpose of their IT systems
Increase business systems efficiency
Learn and read technical materials to develop and design new programs that fit a client’s needs
Build, design, set up, fix and/or modify computer systems and hardware
Test and maintain all workflow systems, analyzing and documenting results
Presenting frequent progress reports
Provide on-call support
Continued education (attending conferences, reading publications, etc.) and staying on top of new technological developments and software programs
Systems Analyst Requirements and Qualifications
Firm grasp of relevant computer systems
Excellent analytical and critical thinking skills
Solid understanding of business process mapping
Technical proficiency
Able to monitor and assess system performance
High attention to detail and accuracy
Strong independent worker
Strong oral and written communication skills
Attentive listener
Good attention to detail
Expert problem solver and troubleshooter
Efficient time management
Works well under pressure
Strong mathematical and engineering knowledge
Good collaborator
Bachelor’s Degree in computer/information science or liberal arts degree with extensive experience in IT and/or computer programming
Knowledge of Java, C++, SAP and any other applicable development software
Proficiency using data base management system software and program testing software
Previous work experience as a Systems Analyst
A strong business sense with ability to balance and merge company processes with IT systems
Similar Job Titles
Systems Analysts
Systems Analysis
Related Topics: Employer, Templates, Job Description 